@import "componentes/normalize"
@import "componentes/variables"
@import "componentes/mixin"


/*
  * ED GRID  es un FRAMEWORK SOLO CSS para crear diseños web
  * responsive y mobile first. Creado por Álvaro Felipe de 
  * Escuela Digital http://escueladigital.pe
  * Esta es una primera versión (prototipo) que será mejorada 
  * permanentemente. Use ED GRID libremente en sus proyectos. 
  * Sus consejos y sugerencias serán bienvenidos. Escribanos 
  * en http://facebook.com/escueladigitalperu o a 
  * http://twitter.com/edigitalperu para reportar errores, 
  * sugerencias o pedir soporte. Prometo responder =)
  * En su html inserte primero ed-grid y luego ed-grid-custom 
  * para que sus estilos personalizados se apliquen en el 
  * orden correcto. Pronto crearé una página web solamente 
  * para ed-grid con documentación detallada, casos de uso 
  * y comentarios. Lo prometo =)
*/


/* Evitar que los paddings y bordes redimensionen las cajas*/
*
*:before
*:after
    box-sizing border-box


/* Reset basico*/
img
    max-width 100%


/*  ESTILOS PARA DESARROLLO
    ========================
    Añada la clase "desarrollo"
        a body para tener ayudas al trabajar con ED GRID 
*/
body
    .desarrollo
        padding 0 !important
        margin 0 !important

    .desarrollo:before
        background steelblue /*Azul Escuela Digital*/  
        display block
        padding 0
        text-align center
        color #fff
        font-size 18px
        font-weight bold
        line-height 36px
        margin-bottom 30px


.desarrollo
    .grupo
        padding-top 22px
        background #fff
        margin-bottom 10px

        .grupo
            margin-bottom 0
            padding-bottom 22px

        > div
        > section
            background desarrollo-section-background
            box-shadow 0 0 0 1px steelblue inset
            position relative
            padding-bottom 22px

        > div:after
        > section:after
        &:after
            background rgba(70, 130, 180,.3)
            content attr(class)
            position absolute
            bottom 0
            right 0
            z-index 1
            display table
            padding 3px 5px
            font-style italic
            font-size 12px
            width 100%
            color escuela-digital
            height 16px
            line-height 16px
            // border 1px solid seagreen

        &:after
            top 0
            left 0
            width 100%
            border 1px solid steelblue
            border-bottom none

        > div:nth-child(even),
        > section:nth-child(even)
            background #ccc


/*
    GRUPOS Y CAJAS
    ==============
    Los grupos son contenedores para las cajas.
    Las cajas crean las divisiones verticales en el grupo (columnas)
*/
.grupo
    position relative
    display table
    max-width 1100px
    margin 0 auto
    width 100%

    /* Si se quiere igualar alturas se le da al grupo la clase tabla */
    & > div
    & > section
        float left
        margin 0
        padding 0 15px
        width 100%
        
    &.tabla > div
    &.tabla > section
        display table-cell
        float none


/*
    ESTILOS DE LAYOUT
    ==================
*/
.centrar-caja
    display block
    clear both
    float none !important
    margin 0 auto !important

.centrar-texto
    text-align center

.derecha-texto
    text-align right

.left
.izquierda
    float left

.right
.derecha
    float right


/*  NO PADDING
    ===========
    class="no-padding" al grupo, le da padding cero a todas sus cajas.
    class="no-padding" a la caja le da padding cero solo a ella
*/
.no-padding.grupo > div
.no-padding.grupo > section
.grupo > .no-padding
    padding 0 !important


/* 
    VISIBILIDAD DE ELEMENTOS
    ========================= 
    Las siguientes clases aseguran la visibilidad solo dentro del 
    rango indicado.
*/
.hasta-movil      /*por debajo de 480px*/
.solo-movil       /*entre 480px y 767px*/
.desde-movil      /*desde 480px en adelante*/
.hasta-tablet     /*por debajo de 768px*/
.solo-tablet      /*entre 768px y 1024px*/
.desde-tablet     /*desde 768px en adelante*/
.hasta-web        /*por debajo de 1024px*/
.solo-web         /*desde 1024px en adelante*/
    display none


/*==================================*
 |          MEDIA QUERIES           |
 *==================================*/


/*
    POR DEBAJO DE MOVIL (menos de 480px)
    ====================================
    Solo hay una columna
*/
@media (max-width medida-hasta-movil)

    .hasta-movil
        display block

    /* Mensaje en modo desarrollo */
    body.desarrollo:before
        content "Debajo de " + medida-hasta-movil
    

/*
    DESDE MOVIL (a partir de 480px)
    ===============================
*/
@media (min-width medida-movil)

    .desde-movil
        display block
    
    .grupo
        genera-parrilla movil iteraciones
        genera-parrilla-porcetaje movil 5


/*
    SOLO MOVIL (entre 480px y 767px)
    =================================
*/
@media (min-width medida-desde-movil) and (max-width medida-hasta-table)
    
    /* Mensajes en modo desarrollo */
    body.desarrollo:before
        background escuela-digital /*Azul oscuro Escuela Digital*/
        content "MOVIL: entre " + medida-desde-movil + " y " + medida-hasta-table

    .solo-movil
        display block
    

/*POR DEBAJO DE TABLET (menos de 768px)
======================================*/
@media (max-width medida-hasta-table)
    .hasta-tablet
        display block


/*
    DESDE TABLET (desde 768px en adelante)
    =======================================
*/
@media (min-width medida-table)

    .desde-tablet
        display block
    
    .grupo
        genera-parrilla tablet iteraciones
        genera-parrilla-porcetaje tablet 5


/*
    SOLO TABLET (entre 768px y 1024px)
    ===================================
*/
@media (min-width medida-desde-table) and (max-width medida-hasta-web)

    /* Mensaje para desarrollo */
    body.desarrollo:before
        content "TABLET: entre " + medida-desde-table + " y " + medida-hasta-web

    .solo-tablet
        display block
    

/*
    POR DEBAJO DE WEB (menos de 1024px)
    ====================================
*/
@media (max-width medida-hasta-web)
    .hasta-web
        display block


/*
    WEB (de 1024px en adelante)
    ============================
*/
@media (min-width medida-web)

    /*Mensaje en modo desarrollo*/
    body.desarrollo:before
        background escuela-digital /*darkblue de paleta ED*/
        content "WEB: Desde " + medida-web + " en adelante"

    .solo-web
        display block

    .grupo
        genera-parrilla web iteraciones
        genera-parrilla-porcetaje web 5
